<nav class="navbar" id="nav">
	{{#if sidebar}}
	<div class="navbar-content">
		<button class="btn btn-action" onclick="halfmoon.toggleSidebar()">
			<i class="fa fa-bars"></i>
		</button>
    </div>
	{{/if}}
	<a href="/" class="navbar-brand">Discobot</a>

	<ul class="navbar-nav d-none d-md-flex w-full">
		<li class="nav-item {{#if (eq title "Home")}}active{{/if}}">
			<a href="/" class="nav-link">Home</a>
		</li>
		<li class="nav-item {{#if (eq title "Guilds")}}active{{/if}}">
			<a href="/guilds" class="nav-link">Dashboard</a>
		</li>
		{{#if user}}
			{{#with user}}
			<div class="dropdown with-arrow ml-auto h-full">
				<button class="btn h-full d-flex align-items-center w-200 justify-content-end" data-toggle="dropdown" type="button">
					<span class="text-truncate flex-fill">{{username}}</span>
					<img class="px-5 img-fluid rounded h-half" src="https://cdn.discordapp.com/avatars/{{id}}/{{avatar}}">
					<i class="fa fa-angle-down"></i>
				</button>
				<div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item" href="/logout">Logout</a>
					<a class="dropdown-item" href="/reload">Reload</a>
				</div>
			</div>
			{{/with}}
		{{else}}
			<a class="btn btn-primary ml-auto" href="/login"><i class="fab fa-discord pr-5"></i> Login</a>
		{{/if}}
	</ul>
	<div class="navbar-content d-md-none ml-auto">
		<div class="dropdown with-arrow">
			<button class="btn" data-toggle="dropdown">
				Menu
				<i class="fa fa-angle-down"></i>
			</button>
			<div class="dropdown-menu dropdown-menu-right w-200">
				{{#if user}}
					<h6 class="dropdown-header text-primary">Hello {{user.username}}</h6>
					<a class="dropdown-item" href="/logout">Logout</a>
					<a class="dropdown-item" href="/reload">Reload</a>
				{{else}}
					<a href="/login" class="dropdown-item bg-primary"><i class="fab fa-discord pr-5"></i> Login</a>
				{{/if}}
				<div class="dropdown-divider"></div>
				<a href="/" class="dropdown-item">Home</a>
				<a href="/guilds" class="dropdown-item">Dashboard</a>
			</div>
		</div>
	</div>
</nav>