<!DOCTYPE html>
<html lang="en">
<head>
	{{> head}}
</head>
<body class="dark-mode">
	<div class="page-wrapper">
		<div class="content-wrapper">
			<div class="card shadow border rounded">
				<h2 class="content-title text-secondary font-size-22"><i class="fas fa-times text-danger font-size-24"></i> That's a {{code}}, {{desc}}.</h2>
				{{#if more}}
					<span>{{more}}</span>
				{{else}}
					<span>{{desc}}</span>
				{{/if}}
			</div>
		</div>
	</div>
</body>
</html>